TVAnytimePersistenceWS/web/WEB-INF/wsdl/localhost_8080/TVAnytimePersistenceWS/tvAnytimePersistenceWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.persistence.tvanytime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.persistence.tvanytime/" name="tvAnytimePersistenceWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.persistence.tvanytime/" schemaLocation="http://localhost:8080/TVAnytimePersistenceWS/tvAnytimePersistenceWSService?xsd=1" />
</xsd:schema>
</types>
<message name="persistTvAnytimeMetaData">
<part name="parameters" element="tns:persistTvAnytimeMetaData" />
</message>
<message name="persistTvAnytimeMetaDataResponse">
<part name="parameters" element="tns:persistTvAnytimeMetaDataResponse" />
</message>
<message name="persistProgramInformationTable">
<part name="parameters" element="tns:persistProgramInformationTable" />
</message>
<message name="persistProgramInformationTableResponse">
<part name="parameters" element="tns:persistProgramInformationTableResponse" />
</message>
<message name="getProgramInformationTable">
<part name="parameters" element="tns:getProgramInformationTable" />
</message>
<message name="getProgramInformationTableResponse">
<part name="parameters" element="tns:getProgramInformationTableResponse" />
</message>
<message name="persistSegmentInformationTable">
<part name="parameters" element="tns:persistSegmentInformationTable" />
</message>
<message name="persistSegmentInformationTableResponse">
<part name="parameters" element="tns:persistSegmentInformationTableResponse" />
</message>
<message name="persistContentReferencingTable">
<part name="parameters" element="tns:persistContentReferencingTable" />
</message>
<message name="persistContentReferencingTableResponse">
<part name="parameters" element="tns:persistContentReferencingTableResponse" />
</message>
<message name="getAllContentReferencingTable">
<part name="parameters" element="tns:getAllContentReferencingTable" />
</message>
<message name="getAllContentReferencingTableResponse">
<part name="parameters" element="tns:getAllContentReferencingTableResponse" />
</message>
<portType name="tvAnytimePersistenceWS">
<operation name="persistTvAnytimeMetaData">
<input wsam:Action="http://ws.persistence.tvanytime/tvAnytimePersistenceWS/persistTvAnytimeMetaDataRequest" message="tns:persistTvAnytimeMetaData" />
<output wsam:Action="http://ws.persistence.tvanytime/tvAnytimePersistenceWS/persistTvAnytimeMetaDataResponse" message="tns:persistTvAnytimeMetaDataResponse" />
</operation>
<operation name="persistProgramInformationTable">
<input wsam:Action="http://ws.persistence.tvanytime/tvAnytimePersistenceWS/persistProgramInformationTableRequest" message="tns:persistProgramInformationTable" />
<output wsam:Action="http://ws.persistence.tvanytime/tvAnytimePersistenceWS/persistProgramInformationTableResponse" message="tns:persistProgramInformationTableResponse" />
</operation>
<operation name="getProgramInformationTable">
<input wsam:Action="http://ws.persistence.tvanytime/tvAnytimePersistenceWS/getProgramInformationTableRequest" message="tns:getProgramInformationTable" />
<output wsam:Action="http://ws.persistence.tvanytime/tvAnytimePersistenceWS/getProgramInformationTableResponse" message="tns:getProgramInformationTableResponse" />
</operation>
<operation name="persistSegmentInformationTable">
<input wsam:Action="http://ws.persistence.tvanytime/tvAnytimePersistenceWS/persistSegmentInformationTableRequest" message="tns:persistSegmentInformationTable" />
<output wsam:Action="http://ws.persistence.tvanytime/tvAnytimePersistenceWS/persistSegmentInformationTableResponse" message="tns:persistSegmentInformationTableResponse" />
</operation>
<operation name="persistContentReferencingTable">
<input wsam:Action="http://ws.persistence.tvanytime/tvAnytimePersistenceWS/persistContentReferencingTableRequest" message="tns:persistContentReferencingTable" />
<output wsam:Action="http://ws.persistence.tvanytime/tvAnytimePersistenceWS/persistContentReferencingTableResponse" message="tns:persistContentReferencingTableResponse" />
</operation>
<operation name="getAllContentReferencingTable">
<input wsam:Action="http://ws.persistence.tvanytime/tvAnytimePersistenceWS/getAllContentReferencingTableRequest" message="tns:getAllContentReferencingTable" />
<output wsam:Action="http://ws.persistence.tvanytime/tvAnytimePersistenceWS/getAllContentReferencingTableResponse" message="tns:getAllContentReferencingTableResponse" />
</operation>
</portType>
<binding name="tvAnytimePersistenceWSPortBinding" type="tns:tvAnytimePersistenceWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="persistTvAnytimeMetaData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="persistProgramInformationTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getProgramInformationTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="persistSegmentInformationTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="persistContentReferencingTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllContentReferencingTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="tvAnytimePersistenceWSService">
<port name="tvAnytimePersistenceWSPort" binding="tns:tvAnytimePersistenceWSPortBinding">
<soap:address location="http://localhost:8080/TVAnytimePersistenceWS/tvAnytimePersistenceWSService" />
</port>
</service>
</definitions>