WebUITVAnytime/web/WEB-INF/wsdl/localhost_8080/TVAnytimePersistenceWS/TVAnytimePersistenceService.wsdl.r29

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.persistence.tvanytime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.persistence.tvanytime/" name="TVAnytimePersistenceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.persistence.tvanytime/" schemaLocation="http://localhost:8080/TVAnytimePersistenceWS/TVAnytimePersistenceService?xsd=1" />
</xsd:schema>
</types>
<message name="getContentReferencingTable">
<part name="parameters" element="tns:getContentReferencingTable" />
</message>
<message name="getContentReferencingTableResponse">
<part name="parameters" element="tns:getContentReferencingTableResponse" />
</message>
<message name="deleteContentReferenceTable">
<part name="parameters" element="tns:deleteContentReferenceTable" />
</message>
<message name="deleteContentReferenceTableResponse">
<part name="parameters" element="tns:deleteContentReferenceTableResponse" />
</message>
<message name="getAllContentReferencingTable">
<part name="parameters" element="tns:getAllContentReferencingTable" />
</message>
<message name="getAllContentReferencingTableResponse">
<part name="parameters" element="tns:getAllContentReferencingTableResponse" />
</message>
<message name="persistTvAnytimeMetaData">
<part name="parameters" element="tns:persistTvAnytimeMetaData" />
</message>
<message name="persistTvAnytimeMetaDataResponse">
<part name="parameters" element="tns:persistTvAnytimeMetaDataResponse" />
</message>
<message name="persistContentReferencingTable">
<part name="parameters" element="tns:persistContentReferencingTable" />
</message>
<message name="persistContentReferencingTableResponse">
<part name="parameters" element="tns:persistContentReferencingTableResponse" />
</message>
<message name="updateContentReferencingTable">
<part name="parameters" element="tns:updateContentReferencingTable" />
</message>
<message name="updateContentReferencingTableResponse">
<part name="parameters" element="tns:updateContentReferencingTableResponse" />
</message>
<message name="persistSegmentInformationTable">
<part name="parameters" element="tns:persistSegmentInformationTable" />
</message>
<message name="persistSegmentInformationTableResponse">
<part name="parameters" element="tns:persistSegmentInformationTableResponse" />
</message>
<message name="updateSegmentInformationTable">
<part name="parameters" element="tns:updateSegmentInformationTable" />
</message>
<message name="updateSegmentInformationTableResponse">
<part name="parameters" element="tns:updateSegmentInformationTableResponse" />
</message>
<message name="getAllSegmentInformationTable">
<part name="parameters" element="tns:getAllSegmentInformationTable" />
</message>
<message name="getAllSegmentInformationTableResponse">
<part name="parameters" element="tns:getAllSegmentInformationTableResponse" />
</message>
<message name="deleteSegmentInformationTable">
<part name="parameters" element="tns:deleteSegmentInformationTable" />
</message>
<message name="deleteSegmentInformationTableResponse">
<part name="parameters" element="tns:deleteSegmentInformationTableResponse" />
</message>
<message name="getSegmentInformationTable">
<part name="parameters" element="tns:getSegmentInformationTable" />
</message>
<message name="getSegmentInformationTableResponse">
<part name="parameters" element="tns:getSegmentInformationTableResponse" />
</message>
<message name="persistProgramInformationTable">
<part name="parameters" element="tns:persistProgramInformationTable" />
</message>
<message name="persistProgramInformationTableResponse">
<part name="parameters" element="tns:persistProgramInformationTableResponse" />
</message>
<message name="updateProgramInformationTable">
<part name="parameters" element="tns:updateProgramInformationTable" />
</message>
<message name="updateProgramInformationTableResponse">
<part name="parameters" element="tns:updateProgramInformationTableResponse" />
</message>
<message name="getAllProgramInformationTable">
<part name="parameters" element="tns:getAllProgramInformationTable" />
</message>
<message name="getAllProgramInformationTableResponse">
<part name="parameters" element="tns:getAllProgramInformationTableResponse" />
</message>
<message name="deleteProgramInformationTable">
<part name="parameters" element="tns:deleteProgramInformationTable" />
</message>
<message name="deleteProgramInformationTableResponse">
<part name="parameters" element="tns:deleteProgramInformationTableResponse" />
</message>
<message name="getProgramInformationTable">
<part name="parameters" element="tns:getProgramInformationTable" />
</message>
<message name="getProgramInformationTableResponse">
<part name="parameters" element="tns:getProgramInformationTableResponse" />
</message>
<portType name="TVAnytimePersistence">
<operation name="getContentReferencingTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/getContentReferencingTableRequest" message="tns:getContentReferencingTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/getContentReferencingTableResponse" message="tns:getContentReferencingTableResponse" />
</operation>
<operation name="deleteContentReferenceTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/deleteContentReferenceTableRequest" message="tns:deleteContentReferenceTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/deleteContentReferenceTableResponse" message="tns:deleteContentReferenceTableResponse" />
</operation>
<operation name="getAllContentReferencingTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/getAllContentReferencingTableRequest" message="tns:getAllContentReferencingTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/getAllContentReferencingTableResponse" message="tns:getAllContentReferencingTableResponse" />
</operation>
<operation name="persistTvAnytimeMetaData">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/persistTvAnytimeMetaDataRequest" message="tns:persistTvAnytimeMetaData" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/persistTvAnytimeMetaDataResponse" message="tns:persistTvAnytimeMetaDataResponse" />
</operation>
<operation name="persistContentReferencingTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/persistContentReferencingTableRequest" message="tns:persistContentReferencingTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/persistContentReferencingTableResponse" message="tns:persistContentReferencingTableResponse" />
</operation>
<operation name="updateContentReferencingTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/updateContentReferencingTableRequest" message="tns:updateContentReferencingTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/updateContentReferencingTableResponse" message="tns:updateContentReferencingTableResponse" />
</operation>
<operation name="persistSegmentInformationTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/persistSegmentInformationTableRequest" message="tns:persistSegmentInformationTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/persistSegmentInformationTableResponse" message="tns:persistSegmentInformationTableResponse" />
</operation>
<operation name="updateSegmentInformationTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/updateSegmentInformationTableRequest" message="tns:updateSegmentInformationTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/updateSegmentInformationTableResponse" message="tns:updateSegmentInformationTableResponse" />
</operation>
<operation name="getAllSegmentInformationTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/getAllSegmentInformationTableRequest" message="tns:getAllSegmentInformationTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/getAllSegmentInformationTableResponse" message="tns:getAllSegmentInformationTableResponse" />
</operation>
<operation name="deleteSegmentInformationTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/deleteSegmentInformationTableRequest" message="tns:deleteSegmentInformationTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/deleteSegmentInformationTableResponse" message="tns:deleteSegmentInformationTableResponse" />
</operation>
<operation name="getSegmentInformationTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/getSegmentInformationTableRequest" message="tns:getSegmentInformationTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/getSegmentInformationTableResponse" message="tns:getSegmentInformationTableResponse" />
</operation>
<operation name="persistProgramInformationTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/persistProgramInformationTableRequest" message="tns:persistProgramInformationTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/persistProgramInformationTableResponse" message="tns:persistProgramInformationTableResponse" />
</operation>
<operation name="updateProgramInformationTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/updateProgramInformationTableRequest" message="tns:updateProgramInformationTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/updateProgramInformationTableResponse" message="tns:updateProgramInformationTableResponse" />
</operation>
<operation name="getAllProgramInformationTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/getAllProgramInformationTableRequest" message="tns:getAllProgramInformationTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/getAllProgramInformationTableResponse" message="tns:getAllProgramInformationTableResponse" />
</operation>
<operation name="deleteProgramInformationTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/deleteProgramInformationTableRequest" message="tns:deleteProgramInformationTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/deleteProgramInformationTableResponse" message="tns:deleteProgramInformationTableResponse" />
</operation>
<operation name="getProgramInformationTable">
<input wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/getProgramInformationTableRequest" message="tns:getProgramInformationTable" />
<output wsam:Action="http://ws.persistence.tvanytime/TVAnytimePersistence/getProgramInformationTableResponse" message="tns:getProgramInformationTableResponse" />
</operation>
</portType>
<binding name="TVAnytimePersistencePortBinding" type="tns:TVAnytimePersistence">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getContentReferencingTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteContentReferenceTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllContentReferencingTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="persistTvAnytimeMetaData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="persistContentReferencingTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateContentReferencingTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="persistSegmentInformationTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateSegmentInformationTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllSegmentInformationTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteSegmentInformationTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSegmentInformationTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="persistProgramInformationTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateProgramInformationTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllProgramInformationTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteProgramInformationTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getProgramInformationTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="TVAnytimePersistenceService">
<port name="TVAnytimePersistencePort" binding="tns:TVAnytimePersistencePortBinding">
<soap:address location="http://localhost:8080/TVAnytimePersistenceWS/TVAnytimePersistenceService" />
</port>
</service>
</definitions>